.login{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}

/*  right side */

.login-right{
  width: 50%;
  min-width: 415px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4.5rem 0;
}

.login-right form{
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1.5rem;
}

.login-right label{
  position: relative;
  display: flex;
  align-items: center;
  gap: .5rem;
  margin: 1rem 0;
}

.login-right input{
  width: 100%;
  padding: 1.5rem 2.75rem;
  outline: none;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #A084E8;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

.login-right input:hover{
  background-color: #DDE6ED;
}

.login-right input::placeholder{
  font-size: .9rem;
  font-weight: 600;
}

.icon{
  position: absolute;
  left: 10px;
}

.login-right h1{
  font-size: 2.5rem;
  position: relative;
  font-weight: 700;
  z-index: 0;
}

.login-right h1::after{
  content: '';
  display: block;
  position: absolute;
  top: 43px;
  width: 85px;
  height: 3px;
  background-color: #A084E8;
  z-index: -1;
}

.login-btn{
  width: 90%;
  padding: 1rem 2.75rem; 
  background-color: #A084E8;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  margin: 1rem 0;
}

.login-btn:hover{
  background-color: #9074d8;
  cursor: pointer;
}

.login-google{
  background-color: transparent;
  cursor: pointer;
}

.no-acount{
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

/*  left side */


.login-left{
  width: 50%;
  flex: 1;
  background-color: #A084E8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  padding: 3.5rem 1rem;
  height: 100vh;
}

.login-left h1{
  font-size: 3.75rem;
  font-weight: 700;
}

.login-left p{
  font-size: 1.5rem;
  font-weight: 400;
}

.login-left img{
  width: 80%;
  min-width: 500px;
}

@media screen and (max-width: 500px) {
  .login-left img{
    min-width: 0;
    width: 100%;
  }
  .login-left h1{
    font-size: 2rem;
  }
  .login-left p{
    font-size: 1.25rem;
    font-weight: 400;
  }
  .login-right{
    min-width: 100%;
  }
}