.reg-login{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}

/*  right side */

.reg-login-right{
  width: 50%;
  min-width: 415px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reg-login-right form{
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1.5rem;
}

.reg-login-right label{
  position: relative;
  display: flex;
  align-items: center;
  gap: .5rem;
  margin: 1rem 0;
}

.reg-input{
  width: 100%;
  padding: 1.5rem 2.75rem;
  outline: none;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #A084E8;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

.reg-input:hover{
  background-color: #DDE6ED;
}

.reg-input::placeholder{
  font-size: .9rem;
  font-weight: 600;
}

.icon{
  position: absolute;
  left: 10px;
}

.reg-login-right h1{
  font-size: 2.5rem;
  position: relative;
  font-weight: 700;
  z-index: 0;
}

.reg-login-right h1::after{
  content: '';
  display: block;
  position: absolute;
  top: 43px;
  width: 85px;
  height: 3px;
  background-color: #A084E8;
  z-index: -1;
}

.login-btn{
  width: 90%;
  padding: 1rem 2.75rem; 
  background-color: #A084E8;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  margin: 1rem 0;
}

.login-btn:hover{
  background-color: #9074d8;
  cursor: pointer;
}

.login-google{
  background-color: transparent;
  cursor: pointer;
}

.no-acount{
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

/*  left side */


.reg-login-left{
  width: 50%;
  height: 100vh;
  flex: 1;
  background-color: #A084E8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  padding: 1.5rem;
}

.reg-login-left h1{
  font-size: 3.75rem;
  font-weight: 700;
}

.reg-login-left p{
  font-size: 1.5rem;
  font-weight: 400;
}

/* Media */

@media screen and (max-width: 500px) {
  .reg-login-left h1{
    font-size: 2rem;
  }
  .reg-login-left p{
    font-size: 1.25rem;
    font-weight: 400;
  }
  .reg-login-right{
    min-width: 100%;
  }
}