.edit-profile{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.edit-profile-wrapper{
  margin-left: 300px;
  flex: 1;
  min-width: 500px;
  padding: 1.5rem;
}

.edit-profile-data{
  display: flex;
  gap: 1rem;
  background-color: rgb(228, 227, 227);
  padding: 1.75rem;
  border-radius: 15px;
}

.edit-profile-img{
  border-radius: 15px;
  width: 100px;
  height: 100px;
}

.edit-profile-h1{
  font-size: 1.5rem;
  color: #A084E8;
  background-color: transparent;
  outline: none;
  height: 40px;
  border-bottom: 1px solid #A084E8;
}

.edit-profile-h1::placeholder{
  font-size: 1.5rem;
  color: #A084E8;
}

.edit-profile-data button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 50px;
}